/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.pane {
	-fx-background-color : #fefefe;
	-fx-background-radius : 0px;
}

#welcomeLabel {
    -fx-alignment: center-left;
    -fx-font-size: 50;
    -fx-font-weight: bolder;
}

#buttonLogin {
    -fx-background-color: #0560b1;
}

