/* dieu chinh table view */
.background {
    -fx-background-color: #EEF5FF   ;
}

.column-header {
    -fx-background-color: #86B6F6;
}

/* dieu chinh button */
.buttonChucnang {
    -fx-background-radius: 2px;
    -fx-text-fill: #176B87;
    -fx-background-color: #B4D4FF;
    -fx-font-weight: bold;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-min-width: 150px;
    -fx-max-width: 150px;
}

.buttonChucnang: hover {
    -fx-background-color: #637E76;
}

.btntimkiem {
    -fx-font-weight: bold;
    -fx-background-color: #86B6F6;
    -fx-text-fill: #176B87;
}

.btntimkiem: hover {
    -fx-background-color: #858c1d;
}

.boxluachon: hover{
    -fx-background-color: #858c1d;
}

.boxluachon .list-cell:selected {
    -fx-font-weight: bold;
    -fx-background-color: #86B6F6;
    -fx-text-fill: #176B87;
}

.boxluachon: hover .list-cell:selected {
    -fx-background-color: #858c1d;
}